@using Microsoft.AspNetCore.Identity
@using MemberPortal.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    Layout = "_Layout2";
}
<div class="content-header">

    <!-- HEADER -->
    <section class="content-header">
        <h1>
            Pension Credit History
            <small>(Full Detail)</small>
        </h1>
        <ol class="breadcrumb">
            <li><a asp-area="" asp-controller="Profile" asp-action="Index"><i class="fa fa-dashboard"></i> Member Portal</a></li>
            <li><a asp-area="" asp-controller="Profile" asp-action="PensionDetail">Pension Overview</a></li>
            <li class="active">Pension Credit History</li>
        </ol>
    </section>

    <section class="content">

        <!-- MAIN CONTENT: ROW 1 (Pension Detail/INFO) -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body" style="height:1050px;">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Year</th>
                                    <th>Hours</th>
                                    <th>Contribution Amount</th>
                                    <th>Pension Credits</th>
                                    <th>Vesting Credits</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1990</td>
                                    <td>2080</td>
                                    <td>9360.00</td>
                                    <td>1.0</td>
                                    <td>1.0</td>
                                </tr>
                                <tr>
                                    <td>1991</td>
                                    <td>2000</td>
                                    <td>8675.00</td>
                                    <td>1.0</td>
                                    <td>1.0</td>
                                </tr>
                                <tr>
                                    <td>1992</td>
                                    <td>1560</td>
                                    <td>8580.00</td>
                                    <td>1.0</td>
                                    <td>1.0</td>
                                </tr>
                                <tr>
                                    <td>1993</td>
                                    <td>1620</td>
                                    <td>7590.00</td>
                                    <td>1.0</td>
                                    <td>1.0</td>
                                </tr>
                                <tr>
                                    <td>1994</td>
                                    <td>1780</td>
                                    <td>10680.00</td>
                                    <td>1.0</td>
                                    <td>1.0</td>
                                </tr>
                                <tr>
                                    <td>1995</td>
                                    <td>1000</td>
                                    <td>5880.00</td>
                                    <td>1.0</td>
                                    <td>1.0</td>
                                </tr>
                                <tr>
                                    <td>1996</td>
                                    <td>1100</td>
                                    <td>6490.00</td>
                                    <td>1.0</td>
                                    <td>1.0</td>
                                </tr>
                                <tr>
                                    <td>1997</td>
                                    <td>1750</td>
                                    <td>11375.00</td>
                                    <td>1.0</td>
                                    <td>1.0</td>
                                </tr>
                                <tr>
                                    <td>1998</td>
                                    <td>1600</td>
                                    <td>10400.00</td>
                                    <td>1.0</td>
                                    <td>1.0</td>
                                </tr>
                                <tr>
                                    <td>1999</td>
                                    <td>1250</td>
                                    <td>8312.50</td>
                                    <td>1.0</td>
                                    <td>1.0</td>
                                </tr>
                                <tr>
                                    <td>2000</td>
                                    <td>1560</td>
                                    <td>10530.00</td>
                                    <td>1.0</td>
                                    <td>1.0</td>
                                </tr>
                                <tr>
                                    <td>2001</td>
                                    <td>1600</td>
                                    <td>11120.00</td>
                                    <td>1.0</td>
                                    <td>1.0</td>
                                </tr>
                                <tr>
                                    <td>2002</td>
                                    <td>2080</td>
                                    <td>14560.00</td>
                                    <td>1.0</td>
                                    <td>1.0</td>
                                </tr>
                                <tr>
                                    <td>2003</td>
                                    <td>1920</td>
                                    <td>13632.00</td>
                                    <td>1.0</td>
                                    <td>1.0</td>
                                </tr>
                                <tr>
                                    <td>2004</td>
                                    <td>1500</td>
                                    <td>10875.00</td>
                                    <td>1.0</td>
                                    <td>1.0</td>
                                </tr>
                                <tr>
                                    <td>2005</td>
                                    <td>1350</td>
                                    <td>9922.50</td>
                                    <td>1.0</td>
                                    <td>1.0</td>
                                </tr>
                                <tr>
                                    <td>2006</td>
                                    <td>1600</td>
                                    <td>12000.00</td>
                                    <td>1.0</td>
                                    <td>1.0</td>
                                </tr>
                                <tr>
                                    <td>2007</td>
                                    <td>1750</td>
                                    <td>11375.00</td>
                                    <td>1.0</td>
                                    <td>1.0</td>
                                </tr>
                                <tr>
                                    <td>2008</td>
                                    <td>1600</td>
                                    <td>104000.00</td>
                                    <td>1.0</td>
                                    <td>1.0</td>
                                </tr>
                                <tr>
                                    <td>2009</td>
                                    <td>1250</td>
                                    <td>8312.50</td>
                                    <td>1.0</td>
                                    <td>1.0</td>
                                </tr>
                                <tr>
                                    <td>2010</td>
                                    <td>1000</td>
                                    <td>7800.00</td>
                                    <td>1.0</td>
                                    <td>1.0</td>
                                </tr>
                                <tr>
                                    <td>2011</td>
                                    <td>1200</td>
                                    <td>9900.00</td>
                                    <td>1.0</td>
                                    <td>1.0</td>
                                </tr>
                                <tr>
                                    <td>2012</td>
                                    <td>2040</td>
                                    <td>17340.00</td>
                                    <td>1.0</td>
                                    <td>1.0</td>
                                </tr>
                                <tr>
                                    <td>2013</td>
                                    <td>1600</td>
                                    <td>14000.00</td>
                                    <td>1.0</td>
                                    <td>1.0</td>
                                </tr>
                                <tr>
                                    <td>2014</td>
                                    <td>1200</td>
                                    <td>10560.00</td>
                                    <td>1.0</td>
                                    <td>1.0</td>
                                </tr>
                                <tr>
                                    <td>2015</td>
                                    <td>1800</td>
                                    <td>16200.00</td>
                                    <td>1.0</td>
                                    <td>1.0</td>
                                </tr>
                                <tr>
                                    <td>2016</td>
                                    <td>1560</td>
                                    <td>14430.00</td>
                                    <td>1.0</td>
                                    <td>1.0</td>
                                </tr>

                            </tbody>
                            @*<tfoot>
                <tr>
                    <th>Remit No.</th>
                    <th>Data Received</th>
                    <th>Employer</th>
                    <th>Work Month</th>
                    <th>Hours</th>
                    <th>Pension Cont.</th>
                    <th>Annuity Cont.</th>
                    <th>Health Cont.</th>
                </tr>
            </tfoot>*@
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
     </section>
</div>
