@using Microsoft.AspNetCore.Identity
@using MemberPortal.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    Layout = "_Layout2";
}
<div class="content-header">

    <!-- HEADER -->
    <section class="content-header">
        <h1>
            Pension Details
            <small>(Pension Info + Credit History)</small>
        </h1>
        <ol class="breadcrumb">
            <li><a asp-area="" asp-controller="Profile" asp-action="Index"><i class="fa fa-dashboard"></i> Member Portal</a></li>
            <li class="active">Pension Details</li>
        </ol>
    </section>

    <section class="content">

        <!-- PENSION OVERVIEW -->
        <div class="row">
            <div class="col-lg-7">
                <div class="box" style="padding-top:20px; overflow:auto;">
                    <div class="box-header with-border">
                            <div class="table-responsive">
                                <table class="table table-striped" style="font-size: 16px; overflow:scroll;" fixed-header>
                                    <tbody>
                                        <tr>
                                            <td style="font-weight: bold;  padding-left: 10%">Pension Credits:</td>
                                            <td>27</td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight: bold;  padding-left: 10%">Vesting Credits:</td>
                                            <td>27.0</td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight: bold;  padding-left: 10%">Bank Hours:</td>
                                            <td>200</td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight: bold;  padding-left: 10%">Beneficary:</td>
                                            <td>Jane Doe</td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight: bold;  padding-left: 10%">Retire Date:</td>
                                            <td>01/01/2017</td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight: bold;  padding-left: 10%">Monthly Amt:</td>
                                            <td>1092.81</td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight: bold;  padding-left: 10%">Type:</td>
                                            <td>Early, 50% Spouse Survivor</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        
                       
                    </div>
                </div>

            <!-- RETIREMENT WIDGET -->
            <div class="col-md-5">
                <div class="small-box bg-light-blue-active">
                    <div class="inner is-Responsive">
                        <h3 style="padding: 5px;">
                            Wondering what
                            <br />retirement will look like?
                        </h3>
                        <h4 style="padding: 5px;">Find out today!<br />Calculate your pension with a retirement date.*</h4>

                    </div>
                    <div class="icon">
                        <i class="ion ion-calculator"></i>
                    </div>
                    <div class="small-box-footer bg-light-blue" style="height: 74px;">
                        <div class="box-widget" style="padding-top: 35px;">
                            <button class="btn btn-primary bg-light-blue-active" style="width: 250px;" data-toggle="modal" data-target="#calcModal">CALCULATE HERE</button>
                        </div>
                    </div>
                    <div class="small-box-footer bg-light-blue" style="height: 85px;">
                        <small style="font-size:9px;">
                           <br />
                             *This is a SIMULATION ONLY based on your records.
                        </small>
                    </div>
                </div>
            </div>
        </div>

        <!-- RETIREMENT MODAL - CALC -->
        <div class="modal fade" id="calcModal" tabindex="-1" role="dialog" aria-labelledby="calcModalLabel">
            <div class="modal-dialog" role="document" style="min-width: 1000px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="calcModalLabel">Calculate Retirement & Pension</h4>
                    </div>
                    <div class="modal-body">
                        <iframe src='https://ssccust1.spreadsheethosting.com/tmp/a7/6277b00f747557/PenCalculator/PenCalculator.htm' width='960' height='720' border='0' frameborder='0'>
                            @*<p>Your browser does not support iframes.</p>*@
                        </iframe>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>

        <!-- PENSION DETAILS -->
        <div class="row">
            <div class="col-md-12">
                <div class="box box" style="height:725px;">
                    <div class="box-header">
                        <h3 class="box-title">Pension Credit History</h3>
                        <small>(Snapshot)</small>
                        <div class="box-tools pull-right">
                            <a asp-area="" asp-controller="Profile" asp-action="PensionCreditHistory" class="btn btn-box-tool"><i class="fa fa-arrow-circle-right"></i> See All</a>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Year</th>
                                    <th>Hours</th>
                                    <th>Contribution Amount</th>
                                    <th>Pension Credits</th>
                                    <th>Vesting Credits</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1990</td>
                                    <td>2080</td>
                                    <td>9360.00</td>
                                    <td>1.0</td>
                                    <td>1.0</td>
                                </tr>
                                <tr>
                                    <td>1991</td>
                                    <td>2000</td>
                                    <td>8675.00</td>
                                    <td>1.0</td>
                                    <td>1.0</td>
                                </tr>
                                <tr>
                                    <td>1992</td>
                                    <td>1560</td>
                                    <td>8580.00</td>
                                    <td>1.0</td>
                                    <td>1.0</td>
                                </tr>
                                <tr>
                                    <td>1993</td>
                                    <td>1620</td>
                                    <td>7590.00</td>
                                    <td>1.0</td>
                                    <td>1.0</td>
                                </tr>
                                <tr>
                                    <td>1994</td>
                                    <td>1780</td>
                                    <td>10680.00</td>
                                    <td>1.0</td>
                                    <td>1.0</td>
                                </tr>
                                <tr>
                                    <td>1995</td>
                                    <td>1000</td>
                                    <td>5880.00</td>
                                    <td>1.0</td>
                                    <td>1.0</td>
                                </tr>
                                <tr>
                                    <td>1996</td>
                                    <td>1100</td>
                                    <td>6490.00</td>
                                    <td>1.0</td>
                                    <td>1.0</td>
                                </tr>
                                <tr>
                                    <td>1997</td>
                                    <td>1750</td>
                                    <td>11375.00</td>
                                    <td>1.0</td>
                                    <td>1.0</td>
                                </tr>
                                <tr>
                                    <td>1998</td>
                                    <td>1600</td>
                                    <td>10400.00</td>
                                    <td>1.0</td>
                                    <td>1.0</td>
                                </tr>
                                <tr>
                                    <td>1999</td>
                                    <td>1250</td>
                                    <td>8312.50</td>
                                    <td>1.0</td>
                                    <td>1.0</td>
                                </tr>
                                <tr>
                                    <td>2000</td>
                                    <td>1560</td>
                                    <td>10530.00</td>
                                    <td>1.0</td>
                                    <td>1.0</td>
                                </tr>
                                <tr>
                                    <td>2001</td>
                                    <td>1600</td>
                                    <td>11120.00</td>
                                    <td>1.0</td>
                                    <td>1.0</td>
                                </tr>
                                <tr>
                                    <td>2002</td>
                                    <td>2080</td>
                                    <td>14560.00</td>
                                    <td>1.0</td>
                                    <td>1.0</td>
                                </tr>
                                <tr>
                                    <td>2003</td>
                                    <td>1920</td>
                                    <td>13632.00</td>
                                    <td>1.0</td>
                                    <td>1.0</td>
                                </tr>
                                <tr>
                                    <td>2004</td>
                                    <td>1500</td>
                                    <td>10875.00</td>
                                    <td>1.0</td>
                                    <td>1.0</td>
                                </tr>
                                <tr>
                                    <td>2005</td>
                                    <td>1350</td>
                                    <td>9922.50</td>
                                    <td>1.0</td>
                                    <td>1.0</td>
                                </tr>
                                <tr>
                                    <td>2006</td>
                                    <td>1600</td>
                                    <td>12000.00</td>
                                    <td>1.0</td>
                                    <td>1.0</td>
                                </tr>
                                <tr>
                                    <td>2007</td>
                                    <td>1750</td>
                                    <td>11375.00</td>
                                    <td>1.0</td>
                                    <td>1.0</td>
                                </tr>
                                <tr>
                                    <td>2008</td>
                                    <td>1600</td>
                                    <td>104000.00</td>
                                    <td>1.0</td>
                                    <td>1.0</td>
                                </tr>
                                <tr>
                                    <td>2009</td>
                                    <td>1250</td>
                                    <td>8312.50</td>
                                    <td>1.0</td>
                                    <td>1.0</td>
                                </tr>
                                <tr>
                                    <td>2010</td>
                                    <td>1000</td>
                                    <td>7800.00</td>
                                    <td>1.0</td>
                                    <td>1.0</td>
                                </tr>
                                <tr>
                                    <td>2011</td>
                                    <td>1200</td>
                                    <td>9900.00</td>
                                    <td>1.0</td>
                                    <td>1.0</td>
                                </tr>
                                <tr>
                                    <td>2012</td>
                                    <td>2040</td>
                                    <td>17340.00</td>
                                    <td>1.0</td>
                                    <td>1.0</td>
                                </tr>
                                <tr>
                                    <td>2013</td>
                                    <td>1600</td>
                                    <td>14000.00</td>
                                    <td>1.0</td>
                                    <td>1.0</td>
                                </tr>
                                <tr>
                                    <td>2014</td>
                                    <td>1200</td>
                                    <td>10560.00</td>
                                    <td>1.0</td>
                                    <td>1.0</td>
                                </tr>
                                <tr>
                                    <td>2015</td>
                                    <td>1800</td>
                                    <td>16200.00</td>
                                    <td>1.0</td>
                                    <td>1.0</td>
                                </tr>
                                <tr>
                                    <td>2016</td>
                                    <td>1560</td>
                                    <td>14430.00</td>
                                    <td>1.0</td>
                                    <td>1.0</td>
                                </tr>
                            </tbody>
                            @*<tfoot>
                <tr>
                    <th>Remit No.</th>
                    <th>Data Received</th>
                    <th>Employer</th>
                    <th>Work Month</th>
                    <th>Hours</th>
                    <th>Pension Cont.</th>
                    <th>Annuity Cont.</th>
                    <th>Health Cont.</th>
                </tr>
            </tfoot>*@
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>




     </section>
</div>
