@{
    ViewData["Title"] = "Member Portal Home";
}
<link href="~/css/style.css" rel="stylesheet" />

<!-- main heading -->
<div class="main-header">
    <div class="bg-color">
        <div class="container text-center">
            <div class="wrapper">
                <h2 class="top-title">Presenting The All New MemberTrack</h2>
                <h3 class="title">MEMBER PORTAL</h3>
                <h6 class="sub-title">A Product of CompuDat Systems, Inc.</h6>
                <a class="btn btn-submit" asp-area="" asp-controller="Account" asp-action="Login">Log in Now</a>
            </div>
        </div>
    </div>
</div>
<!--/ heading -->

<!-- index content -->
<section id="cta-1">
    <div class="yellow-container">
        <div class="row">
            <div class="cta-info text-center">
                <h2>With our new online portal, your members can now access their information from anywhere. </h2>
            </div>
        </div>
    </div>
</section>
<!---->
<!---->
<section id="feature" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-3 wow fadeInLeft delay-05s">
                <div class="section-title">
                    <h2 class="head-title">Local 123 News</h2>
                    <hr class="botm-line">
                    <p class="sec-para">Get updates from your local in real-time.  Find news, meetings, member information here at any time.</p>
                </div>
            </div>
            <div class="col-md-9">
                <div class="col-md-6 wow fadeInRight delay-02s">
                    <div class="icon">
                        <i class="fa fa-paint-brush"></i>
                    </div>
                    <div class="icon-text">
                        <h3 class="txt-tl">News Headline 1</h3>
                        <p class="txt-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula felis euismod semper. </p>
                    </div>
                </div>
                <div class="col-md-6 wow fadeInRight delay-02s">
                    <div class="icon">
                        <i class="fa fa-cogs"></i>
                    </div>
                    <div class="icon-text">
                        <h3 class="txt-tl">Event Announcement</h3>
                        <p class="txt-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula felis euismod semper. </p>
                    </div>
                </div>
                <div class="col-md-6 wow fadeInRight delay-04s">
                    <div class="icon">
                        <i class="fa fa-mobile"></i>
                    </div>
                    <div class="icon-text">
                        <h3 class="txt-tl">Member Meeting - Date</h3>
                        <p class="txt-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula felis euismod semper. </p>
                    </div>
                </div>
                <div class="col-md-6 wow fadeInRight delay-04s">
                    <div class="icon">
                        <i class="fa fa-desktop"></i>
                    </div>
                    <div class="icon-text">
                        <h3 class="txt-tl">Change Announcement</h3>
                        <p class="txt-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula felis euismod semper. </p>
                    </div>
                </div>
                <div class="col-md-6 wow fadeInRight delay-06s">
                    <div class="icon">
                        <i class="fa fa-lightbulb-o"></i>
                    </div>
                    <div class="icon-text">
                        <h3 class="txt-tl">Retirement Celebration</h3>
                        <p class="txt-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula felis euismod semper. </p>
                    </div>
                </div>
                <div class="col-md-6 wow fadeInRight delay-06s">
                    <div class="icon">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <div class="icon-text">
                        <h3 class="txt-tl">News Headline 2</h3>
                        <p class="txt-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula felis euismod semper. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!---->
<section class="section-padding parallax bg-image-2 section wow fadeIn delay-08s" id="cta-2">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="cta-txt">
                    <h3>Subscribe For App Updates</h3>
                    <p>Subscribe and get access to the latest news, developments, and product announcements!</p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <a href="#" class="btn btn-submit">Subscribe Now</a>
            </div>
        </div>
    </div>
</section>
<!---->
<!---->
<section class="section-padding wow fadeInUp delay-02s" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="section-title">
                    <h2 class="head-title">Screenshots</h2>
                    <hr class="botm-line">
                    <p class="sec-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>
                </div>
            </div>
            <div class="col-md-9 col-sm-12">
                <div class="col-md-4 col-sm-6 padding-right-zero">
                    <div class="portfolio-box design">
                        <img src="~/images/port01.jpg" alt="" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 padding-right-zero">
                    <div class="portfolio-box design">
                        <img src="~/images/port02.jpg" alt="" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 padding-right-zero">
                    <div class="portfolio-box design">
                        <img src="~/images/port03.jpg" alt="" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 padding-right-zero">
                    <div class="portfolio-box design">
                        <img src="~/images/port04.jpg" alt="" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 padding-right-zero">
                    <div class="portfolio-box design">
                        <img src="~/images/port05.jpg" alt="" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 padding-right-zero">
                    <div class="portfolio-box design">
                        <img src="~/images/port06.jpg" alt="" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!---->
<!---->
<section class="section-padding wow fadeInUp delay-05s" id="contact">
    <div class="container">
        <div class="row white">
            <div class="col-md-8 col-sm-12">
                <div class="section-title">
                    <h2 class="head-title black">Contact Us</h2>
                    <hr class="botm-line">
                    <h4>Want to learn more about a member portal for your organization?<br />Contact us today! We look foward to hearing from you.</h4>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="col-md-4 col-sm-6" style="padding-left:0px;">
                    <h3 class="cont-title">Email Us</h3>
                    <div id="sendmessage">Your message has been sent. Thank you!</div>
                    <div id="errormessage"></div>
                    <div class="contact-info">
                        <form action="" method="post" role="form" class="contactForm">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                <div class="validation"></div>
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                <div class="validation"></div>
                            </div>

                            <div class="form-group">
                                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                <div class="validation"></div>
                            </div>
                            <button type="submit" class="btn btn-send btn-block">Send</button>
                        </form>
                    </div>

                </div>
                <div class="col-md-4 col-sm-6">

                </div>
                <div class="col-md-4">
                    <div class="contact-icon-container hidden-md hidden-sm hidden-xs">
                        <h3 class="cont-title">Phone</h3>
                        <p class="white"><span aria-hidden="true" class="fa fa-map-marker"></span>259 Main Street New Paltz, NY 12561</p>
                        <p class="white"><span aria-hidden="true" class="fa fa-phone"></span>Phone: 1-800-497-0482</p>
                        <p class="white"><span aria-hidden="true" class="fa fa-envelope"></span>Email: <a href="" class="link-dec">info@compudatsystems.com</a></p>
                        <p class="white"><span aria-hidden="true"></span><img class="mtrack-small" src="~/images/MEMBERTRACK-FINAL_EMBLEM.png" /></p>
                        <br />
                        <br />

                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>
</section>
<!---->
<!---->
<footer class="" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 footer-copyright">
                &copy; MemberTrack Member Portal by CompuDat Systems, Inc. - All rights reserved
                <div class="credits">
                    Designed by <a href="https://www.member-track.com" target="_blank">CompuDat Systems, Inc.</a>
                    <p>2017 - Member Portal by MemberTrack</p>
                </div>
            </div>
            <div class="col-sm-5 footer-social">
                <div class="pull-right hidden-xs hidden-sm">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                </div>
            </div>
        </div>
    </div>
    </footer>

